FlashPipe Demo/INVOIC02_to_Invoice_XML/src/main/resources/wsdl/MT_Invoice.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="MT_Invoice" targetNamespace="urn://int4.com/demo/invoice" xmlns:p1="urn://int4.com/demo/invoice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"><wsdl:documentation/><wsdl:types><xsd:schema targetNamespace="urn://int4.com/demo/invoice" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn://int4.com/demo/invoice"><xsd:element name="MT_Invoice" type="DT_Invoice"/><xsd:complexType name="DT_Invoice"><xsd:annotation><xsd:appinfo source="http://sap.com/xi/VersionID">7f5e82bbbf8011ea9ddd00000069c71a</xsd:appinfo></xsd:annotation><xsd:sequence><xsd:element name="Header"><xsd:complexType><xsd:sequence><xsd:element name="InvoiceNo" type="xsd:string" minOccurs="0"/><xsd:element name="Currency" type="xsd:string" minOccurs="0"/><xsd:element name="PaymentTerms" type="xsd:string" minOccurs="0"/><xsd:element name="Weight" type="xsd:string" minOccurs="0"/><xsd:element name="Recipient" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="Items" maxOccurs="unbounded"><xsd:complexType><xsd:sequence><xsd:element name="Position" type="xsd:string" minOccurs="0"/><xsd:element name="Quantity" type="xsd:string" minOccurs="0"/><xsd:element name="UOM" type="xsd:string" minOccurs="0"/><xsd:element name="Type" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType></xsd:element></xsd:sequence></xsd:complexType></xsd:schema></wsdl:types><wsdl:message name="MT_Invoice"><wsdl:documentation/><wsdl:part name="MT_Invoice" element="p1:MT_Invoice"/></wsdl:message></wsdl:definitions>